div {
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red;

}

.interesting {
  background-color: green;
}

.surprising {
  background-color: #ffa500;
}

body {
  margin: 0;
}
